section {
  padding-top: 5rem;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ffffff;
}

#pendidikan {
  background-color: #e6ebc7;
}

#skill {
  background-color: #ffffff;
}

#sertifikat {
  background-color: #e6ebc7;
}

#contact {
  background-color: #ffffff;
}
